body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

label {
	margin-right: 10px;
}

input {
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}

button {
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	background-color: #007aff;
	color: #fff;
	cursor: pointer;
}

#results {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
}

.result {
	width: calc(25% - 20px);
	margin: 10px;
	box-shadow: 0px 0px 5px #ccc;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.result img {
	width: 100%;
     /* border-radius: 10%; */
}

.result h3 {
	margin: 10px;
	font-size: 18px;
     color: white;
}

.result p {
	margin: 10px;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
     color : white;
}

.forms{
     height: 100%;
     padding: 30%;
}

#search {
	flex: 1;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px 0 0 5px;
}

video {
     position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     transform: translateX(-50%) translateY(-50%);
     z-index: -1;
}

.content {
     position: relative;
     z-index: 1;
     text-align: center;
     color: #fff;
     margin-top: 200px;
}

.changeanything{
     background-image: linear-gradient(red, yellow);
     padding: 1px;
     border-radius: 10px;
}

.padd {
     padding : 10px;
}